/* ESTILO GERAL*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
      

}
button:hover, form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px #3ca2be6b;
  transform: scale(1.05);
}


h2.titulo{
  color: white;
  font-size: 34px;
  text-align: center;
}

h2.titulo span{
  color: #3CA2BE;
}

.flex{
  display: flex;
}

.logo > a > img{
  height: 100px;
  width: 100px;
}

body{
    background-color: #000;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}


header{
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover{
  color: #fff;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav.menu-desktop ul li{
  display: inline-block;
  padding: 0 40px;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3CA2BE;
  color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}



/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
  padding: 40px 4%;
}

.txt-topo-site >h1 {
  color: white;
  font-size: 42px;
  line-height: 40px;
}

.txt-topo-site >h1 span{
  color: #3CA2BE;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site .txt-topo-site p{
  color: white;
  margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  height:500px;
  width: 500px;
}

@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

section.especialidade{
  padding: 40px 4%;
}

section.especialidade .flex{
  gap: 60px;
}

.especialidade .especialidades-box{
  color: white;
  padding: 40px;
  border: 2px solid white;
  margin-top: 45px;
  border-radius: 20px;
  transition: .2s;
}

.especialidade .especialidades-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff78;
}

.especialidade .especialidades-box i{
  font-size: 70px;
  color: #3CA2BE;
}

.especialidade .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
}

section.sobre{
  padding: 80px 4%;
}
.img-sobre img{
  border-radius: 20px;
  width: 395px;
  height: 448px;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .text-sobre{
  color: white;
}

.sobre .text-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .text-sobre h2 span{
  color: #3CA2BE;
  display: block;
}

.sobre .text-sobre p{
  margin: 20px 0;
  text-align: justify;
}

.btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #3CA2BE;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

/*ESTILO PORTIFOLIO*/

section.portifolio{
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portifolio .flex{
  justify-content: space-around;
  margin-top: 60px;
}
.img-port{
  width: 360px;
  height: 460px;
  background-color: #3CA2BE;
  border-radius: 10px;
}

/*ESTILO FORMULARIO*/

section.formulario{
  padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input, form textarea{
  width: 100%;
  background-color: #242424;
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea{
  resize: none;
  max-height: 700px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input{
  width: 120px;
  background-color: #3CA2BE;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}


/*ESTILO DO RODAPE*/

footer .logo-footer img{
  height: 100px;
  width: 100px;
}

footer{
  padding: 60px 4%;
}

footer .flex{
  justify-content: space-between;
}

footer .line-footer p{
  color: #3CA2BE;
}

footer .line-footer p i{
  font-size: 22px;
}

footer .line-footer p a{
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.borda{
  border-top: 2px solid #3CA2BE;
}

footer .line-footer{
  padding: 20px 0;
}


@media screen and (max-width:1020px) {
  /* CLASSES GERAIS */

  .flex{
    flex-direction: column;
  }

  h2.titulo{
    font-size: 38px;
    line-height: 38px;
  }

  .topo-do-site .flex{
    flex-direction: column-reverse;
  }

  /* CABEÇALHO */
  .menu-desktop, .btn-contato{
    display: none;
  }


.sobre .flex{
  flex-direction:column-reverse;

}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  height:800px;
  width: 800px;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section.especialidade{
  padding: 40px 8%;
}

section.sobre{
  padding: 80px 8%;
}

.sobre .text-sobre h2{
  font-size: 34px;
  line-height: 35px;
  text-align: center;
}

.btn-social{
  text-align: center;
}

.img-sobre{
  width: 100%;
}

section.portifolio{
  padding: 80px 8%;
}

.img-port{
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

section.portifolio .flex{
  gap:60px;
}

footer .flex{
  flex-direction: column;
}

footer .line-footer{
  text-align: center;
}

/* MENU MOBILE */

.btn-abrir-menu i{
  color: #3CA2BE;
  font-size: 40px;
}

.menu-mobile{
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  flex-direction: column;
  overflow: hidden;
  transition: .2s;
}

.menu-mobile nav ul{
  text-align: right;
}

.menu-mobile.abrir-menu{
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: #3CA2BE;
  color: #000;
}

.menu-mobile .btn-fechar i{
  color: #3CA2BE;
  font-size: 30px;
}

.menu-mobile .btn-fechar{
  padding: 20px 5%;
}

.overley-menu{
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}



}